<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Enlight</title>
<meta name="keywords" content="green jelly, theme, free templates, nivo image slider, website, templatemo, CSS, HTML" />
<meta name="description" content="Green Jelly Theme, free CSS template provided by templatemo.com" />
<link href="../css/templatemo_style.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="../css/nivo-slider.css" type="text/css" media="screen" />

<script language="javascript" type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
</script>

<link rel="stylesheet" type="text/css" href="../css/ddsmoothmenu.css" />

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="../js/ddsmoothmenu.js">

/***********************************************
* Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/

</script>

<script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "templatemo_menu", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

</script>
  
</head>
<body>

<div id="templatemo_wrapper">
	<div id="templatemo_header"></div> <!-- end of header -->
      <div id="templatemo_menu" class="ddsmoothmenu">
        <ul>
            <li><a href="../index.html" >Home</a></li>
            <li><a href="tutorial.html" class='selected'>Tutorial</a></li>
            <li><a href="help.html" >Help</a></li>
            <li><a href="pipeline.html">Pipeline</a> </li>
            <li><a href="faq.html">FAQ</a> </li>
	    <li><a href="#">Example</a>
	    <ul>
		<li><a href="example/exampleinput.html">Example Input</a></li>
		<li><a href="example/exampleoutput/index.html">Example Output</a></li>
	    </ul>
	    </li>
            </ul>
        <br style="clear: left" />
    </div> <!-- end of menu -->
    
    <script type="text/javascript" src="../js/jquery.nivo.slider.js"></script>
    <script type="text/javascript">
    $(window).load(function() {
    $('#slider').nivoSlider();
    });
    </script>
    
    <div id="templatemo_main"><br class="cleaner" />
	<h2>Getting Started</h2>
        <strong>Each step is also shown in the figure below</strong>
	<br /><br />
	<h3>1. Load settings for example input</h3>
	<p>Simply click 'Load settings for example input' button.</p>
	<h3>2. Load example input</h3>
	<p>Click 'Load example input' button. If you are curious about the content of input file, click 'example file' in the left column.</p>
	<h3>3. Submit</h3>
	<p>Click 'Submit' button at the bottom and come back in a few minutes.</p>
	<br />
	<img src="../images/input_tutorial.png" width=700 height=570>
	<br />
	<h3>4. Examine results</h3>
	<p>You should be redirected to result page automatically once the plot is done. Go to the <strong><a href="help.html">Help</a></strong> page to figure out the meaning of the plot</p>

	<h2>Upload custom BED file</h2>
	<h3>Create BED file</h3>
	<p>An example can be found <a href="../example/example.bed">here</a>. The format of BED is described on <b><a href="http://genome.ucsc.edu/FAQ/FAQformat.html#format1">UCSC</a></b>. The first 5 columns must be chromosome, start, end, name and score, respectively. The content of 'name' column does not matter. The 'score' must be numeric as Enlight relies on it to draw signals. If you download your BED file from UCSC, please remove the first column (BIN column).</p>
	<br />
	<h3>Upload and run</h3>
	<p>Upload your BED file under 'Generic plot' section and submit it.</p>

	<br /><br />


    </div> <!-- end of main -->
    
    <div id="templatemo_footer">
      <div class="cleaner"></div>
    </div> <!-- end of footer -->
</div>

<div id="templatemo_cr_bar_wrapper">
	<div id="templatemo_cr_bar">
    	Copyright 2014 <a href="http://genomics.usc.edu">USC Wang Lab</a> | Designed by <a href="http://www.templatemo.com" target="_parent">Free CSS Templates</a>
    </div>
</div>


<script type='text/javascript' src='../js/logging.js'></script>
</body>
</html>
