<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Results of submission</title>
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<link href="http://wannovar.usc.edu/annovar.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="header">
        <h1>wANNOVAR</h1>
        <h2>University of Southern California<br>
        <a href="http://www.usc.edu/schools/medicine/research/institutes/zni/">Zilkha Neurogenetic Institute</a></h2>
 
</div>
<div id="content">
 
        <div id="colOne">
                <div id="menu1">
                        <ul>
                                <li id="menu-01"><a href="http://wannovar.usc.edu">Home</a></li>
                                <li id="menu-02"><a href="http://wannovar.usc.edu/about.html">About</a></li>
                                <li id="menu-03"><a href="http://wannovar.usc.edu/tutorial.html">Tutorial</a></li>
                                <li id="menu-04"><a href="http://wannovar.usc.edu/example.html">Example</a></li>
                                <li id="menu-05"><a href="http://wannovar.usc.edu/contacts.html">Contact Us</a></li>
                        </ul>
                </div>
        </div>

        <div id="colTwo">
	<div id=cgi_response></div>
	<div id=submission_summary></div>
	<div id=exome_table></div>
	<div id=res_page_2></div>

	</div>
	<div style="clear: both;">&nbsp;</div>
</div>

</body>
</html>
